* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background-color: #f9f9f9;
}

.header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.header__title {
  font-size: 30px;
}

.main-gallary {
  width: 1200px;
  margin: 50px auto;
}

.gallary-list::after {
  content: '';
  display: block;
  clear: both;
}

.gallary-list__item {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.gallary-list__item img {
  width: 100%;
  display: block;
}

.gallary-list__item:nth-child(4n) {
  margin-right: 0px;
}

.main-text {
  padding: 44px;
  border: 1px solid #cccccc;
  text-align: center;
}
.main-text__wrap {
  width: 603px;
  margin: 0 auto;
}
.main-text__title {
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 33px;
}

.main-text__desc {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  margin-bottom: 37px;
}

.main-text__button {
  width: 221px;
  height: 37px;
  background-color: #000000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;
  border: none;
}
