* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.body {
  min-height: 100vh;
}

.header {
  background-color: #386e38;
  padding: 216px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-wrapper {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 50px;
  text-transform: uppercase;
}

.header-hr {
  border: none;
  height: 5px;
  background-color: #fff;
  margin: 20px 0 48px 0;
  width: 257px;
}

.btn {
  font-size: 20px;
  width: 180px;
  padding: 10px 30px;
  background-color: transparent;

  text-transform: uppercase;
}
.header-btn {
  border: 2px solid #fff;
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.main section {
  width: 1200px;
}

.main-slogan {
  text-align: center;
}

.main-slogan__title {
  font-size: 35px;
  text-transform: uppercase;
}

.main-slogan__desc {
  font-size: 20px;
  margin-top: 22px;
}

.main-gallary {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-gallary__title {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}

.main-gallary_list {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.main-gallary__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.main-gallary__item:nth-child(2n) {
  margin-right: 0;
}

.main-gallary__item img {
  width: 590px;
  height: 392px;
  background-position: cover;
  background-position: center center;
}

.main-button {
  border: 2px solid #000;
  color: #000;
}

@media screen and (max-width: 1230px) {
  .main section {
    width: 800px;
  }

  .main-gallary__item img {
    width: 390px;
    height: 392px;
    background-position: cover;
    background-position: center center;
  }
}

@media screen and (max-width: 830px) {
  .main-gallary__item img {
    width: 800px;
    height: 532px;
    background-position: cover;
    background-position: center center;
  }
}
