.bookmark {
  width: 250px;
  margin: 0 auto;
  position: relative;
}

.mark__wrap img {
  position: absolute;
  right: 16px;
  top: 16px;
}

.on {
  display: none;
}

.mark__wrap:hover .on {
  display: block;
}

.mark__wrap:hover .off {
  display: none;
}
