* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bg {
  width: 250px;
  height: 340px;
  background-image: url('../img/Image-Bookmark-hover.png');
  position: relative;
}

.bookmark {
  background-image: url('../img/Vector.png');
  width: 28px;
  height: 36px;
  position: absolute;
  right: 16px;
  top: 16px;
}

.bookmark:hover {
  background-image: url('../img/VectorFilled.png');
}
