@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sansita+Swashed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}
body {
  background-color: #f7f7f6;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.gap {
  column-gap: 30px;
}

.col-12 {
  grid-column: 1 / -1;
}
.col-6 {
  grid-column: span 6;

  /* 사이 여백을 어떻게 채우는지 모르겠네 */
  /* width: 600px;
  height: 400px; */
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

@media screen and (max-width: 792px) {
  .col-md-6 {
    grid-column: span 6;
  }
  .best__item {
    margin-bottom: 39px;
  }

  /* 마지막 3번째 margin-bottom을 없애는 법? */
}

@media screen and (max-width: 574px) {
  .col-sm-12 {
    grid-column: 1 / -1;
  }

  .banner__img,
  .banner__txt {
    height: 400px;
  }

  .footer .footer-container {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
  }

  .footer > div > div {
    grid-column: span 1;
    grid-row: span 1;
  }
  .phone,
  .faq,
  .my-order {
    height: 100px;
  }

  .sns,
  .copyright {
    height: 50px;
  }
}
