@import '../reset.css';
@import url('../reset.css');

body {
  min-height: 100vh;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 1204px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  column-gap: 20px;
}

.card-item {
  padding: 20px 15px;
  grid-column: span 3;
  background-color: #fff;
}

.card-item img {
  display: block;
  margin-bottom: 25px;
}

.card-item strong {
  display: block;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-item {
  font-size: 18px;
}
