* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 400px;
}

.profile-bg {
  width: 100%;
  height: 150px;
  background: url('./images/background.png') no-repeat center center;
}

.profile-info {
  position: relative;
  text-align: center;
}

.profile-info img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.profile-info h1 {
  padding-top: 74px;
  font-size: 22px;
}

.profile-statistics {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  column-gap: 20px;
  margin-top: 24px;
  margin-bottom: 34px;
}

.profile-statistics div {
  text-align: center;
  grid-column: span 2;
}

.profile-statistics div strong {
  font-size: 18px;
}

.profile-statistics div p {
  font-size: 12px;
  margin-top: 5px;
}

.main-gallary-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
