*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-weight: bold;
}

.banner{
    width: 100%;
    background-image: url('../img/shrine.jpg');
    text-align: center;
    padding : 127px 0 125px 0;
    color: #fff;
}

.banner__title{
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
}

.banner__desc{
    font-size: 24px;
    margin: 25px 0 32px 0;
}

.banner__btn{
    font-size: 18px;
    line-height: 18px;
    padding: 18px 49px;
    background-color: transparent;
    color : #fff;
    border: 1px solid #fff;
}

.content{
    text-align: center;
    padding : 44px;
}

.content__title{
    font-size: 25px;
}

