@import url('../reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

.header {
  width: 100%;
}

.header-list {
  display: flex;
  justify-content: right;
  padding: 14px 18px;
}

.header-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  line-height: 15px;
  margin-right: 16px;
}

.header-list li:last-child {
  margin-right: 0px;
}

.header-list li a {
  text-align: center;
}
.header-list .account {
  width: 32px;
  height: 32px;
  background-color: blueviolet;
  border-radius: 50%;
  color: #fff;
}

.main {
  width: 584px;
  margin: 258px auto 460px;
  text-align: center;
}
.main img {
  margin-bottom: 26px;
}
.search-bar {
  position: relative;
}
.search-bar input {
  width: 100%;
  height: 46px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin-bottom: 30px;
}

.search-bar .search {
  color: #9aa0a6;
  position: absolute;
  transform: translate(80%, 50%);
}

.search-bar .keyboard {
  color: #8d9195;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-180%, 50%);
}

.search-bar .mic {
  color: #3e9cf3;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-50%, 50%);
}

.button-box {
  margin-bottom: 20px;
}

.button-box button {
  border: none;
  background-color: #f8f9fa;
  color: #3c4043;
  padding: 10px 20px;
  font-size: 13px;
}

.service {
  font-size: 13px;
}

.service a {
  color: blue;
}

.footer > div {
  height: 50px;
  background-color: #f2f2f2;
  padding: 12px 30px;
  color: #70757a;
  font-size: 15px;
}

.footer .country {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.etc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.etc > div ul {
  display: flex;
  justify-content: space-around;
}

.etc li {
  margin-right: 30px;
  display: flex;
  justify-content: space-around;
}

.etc li:last-child {
  margin-right: 0;
}
